.notes {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;

  .note {
    .note__header {
      background: rgba(0, 0, 0, 0.01);
    }

    .note__body {
      background: transparent;
    }

    .note__footer {
      display: flex;
      justify-content: flex-end;
      background: rgba(0, 0, 0, 0.01);
      border-top: 1px solid rgba(0,0,0,.125);

      .note__footer--action {
        background: transparent;
        border: none;
      }

      .dropdown-menu.show {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &.is-white {
      background: #ffffff;
    }
    &.is-green {
      background: #f1f8e9; 
    }
    &.is-yellow {
      background: #fffde7;
    }
    &.is-red {
      background: #ffebee;
    }
    &.is-purple {
      background: #f3e5f5;
    }
    &.is-blue {
      background: #e1f5fe;
    }
  }
}

@media (min-width: 576px) {
  .notes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .notes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .notes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}